body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--color-default);
}

/* header */
.research-items {
    display: none;
}

.header-sign {
    display: none;
}

header h1 {
    display: inline-block;
}

header h1 a {
    font-size: 30px;
    vertical-align: top;
    font-family: "Baskerville";
    color: var(--color-default);

    text-decoration: none;
    font-style: inherit;
    font-weight: 100;
}



.hamburger {
    font-size: 3rem;
    color: var(--color-default);
    vertical-align: bottom;
    overflow: hidden;
    margin-right: 10px;
    font-weight:100;
}

.panier-mobile {
    font-size: 3rem;
    color: var(--color-default);
    overflow: hidden;
    margin-right: 10px;
    font-weight:100;
}

nav {
    display:none;
}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {}